
.transdetails{
    padding: 0px 0px 17px 20px;
    margin: 20px;
}
.form-center{
    display: flex;
    align-items: center;
}
/* .btnSection{
    margin: 0px 0px 0px 230px;
} */
.para{
    padding: 0px 0px 0px 20px;
} 

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; 
}

.form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.media-body{
    display: table-cell;
    vertical-align: top;
}
